@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

* {
  margin: 0;
  padding: 0;
  font-size: 62.5%; /* 1rem = 10px */
  font-family: 'Josefin Sans';
}
.main-container {
  height: 100vh;
  width: 100vw;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-title {
  font-size: 10rem;
  color: #fff;
  text-align: center;
}
.clock {
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 85vw;
  background-image: url('./img/5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-around;
  align-items: center;
}
.clock-info {
  display: flex;
  flex-direction: row;
  width: 50vw;
  justify-content: space-evenly;
}
.clock-subcont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clock-num {
  font-size: 15rem;
  color: #fff;
  font-weight: bolder;
}
.clock-desc {
  color: #fff;
  font-size: 3rem;
}
.subscribe-container {
  color: #fff;
  text-align: center;
}
.subscribe-description-head {
  font-size: 5rem;
  margin-top: 1rem;
}
.subscribe-description-text {
  font-size: 3rem;
}
.subscribe-input-container {
  font-size: 5rem;
  margin-top: 2rem;
  width: 65vw;
}
.subscribe-input {
  border-radius: 2.5rem 0 0 2.5rem;
  border-width: 0;
  padding: 1rem;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.226);
  color: #fff;
}
.subscribe-button {
  border-radius: 0 2.5rem 2.5rem 0;
  padding: 1rem 4rem;
  border: 0;
}
@media(max-width: 1300px){
  .header-title {
    text-align: center;
    font-size: 7rem;
  }
  .clock-num {
    font-size: 12rem;
  }
}
/* Ipad */
@media(max-width: 1050px){
  .clock-num {
    font-size: 8rem;
    flex-wrap: wrap;
  }
  .subscribe-input-container {
    width: 85vw;
  }
}
@media(max-width:428px){
  .header-title {
    font-size: 3.4rem;
  }
  .clock-num {
    font-size: 3.5rem;
  }
  .clock-info {
    width: 85vw;
    justify-content: space-evenly;
  }
  .clock-desc {
    font-size: 1.6rem;
  }
  .subscribe-description-head {
    font-size: 3rem;
    margin-bottom: 1vh;
  }
  .subscribe-description-text {
    font-size: 1.7rem;
  }
  .subscribe-input-container {
    width: 95vw;
  }
}
/* Iphone SE */
@media(max-width: 375px){
  .header-title {
    font-size: 3rem;
  }
  .clock-num {
    font-size: 4rem;
  }
  .subscribe-input {
    font-size: 2rem;
  }
  .subscribe-button {
    font-size: 2rem;
  }
}
